<div class="inner">
  <h1>
    {{
      (mealDetails[0].strIngredient1
        ? mealDetails[0].strIngredient1
        : mealDetails[0].strMeal
      )
        .split("")
        .slice(0, 20)
        .join("")
    }}
  </h1>

  <div class="all-details">
    <div class="main-img">
      <img [src]="mealDetails[0].strMealThumb" alt="" />
    </div>
    <div class="details">
      <h2>Details :</h2>
      <p>{{ mealDetails[0].strInstructions }}</p>
    </div>
    <div class="ingredient">
      <h2>Ingredients</h2>
      <hr />
      <table>
        <tr>
          <td class="table-title">{{ mealDetails[0].strIngredient1 }}</td>
          <td>{{ mealDetails[0].strMeasure1 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient2 }}</td>
          <td>{{ mealDetails[0].strMeasure2 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient3 }}</td>
          <td>{{ mealDetails[0].strMeasure3 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient4 }}</td>
          <td>{{ mealDetails[0].strMeasure4 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient5 }}</td>
          <td>{{ mealDetails[0].strMeasure5 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient6 }}</td>
          <td>{{ mealDetails[0].strMeasure6 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient7 }}</td>
          <td>{{ mealDetails[0].strMeasure7 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient8 }}</td>
          <td>{{ mealDetails[0].strMeasure8 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient9 }}</td>
          <td>{{ mealDetails[0].strMeasure9 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient10 }}</td>
          <td>{{ mealDetails[0].strMeasure10 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient11 }}</td>
          <td>{{ mealDetails[0].strMeasure11 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient12 }}</td>
          <td>{{ mealDetails[0].strMeasure12 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient13 }}</td>
          <td>{{ mealDetails[0].strMeasure13 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient14 }}</td>
          <td>{{ mealDetails[0].strMeasure14 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient15 }}</td>
          <td>{{ mealDetails[0].strMeasure15 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient16 }}</td>
          <td>{{ mealDetails[0].strMeasure16 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient17 }}</td>
          <td>{{ mealDetails[0].strMeasure17 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient18 }}</td>
          <td>{{ mealDetails[0].strMeasure18 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient19 }}</td>
          <td>{{ mealDetails[0].strMeasure19 }}</td>
        </tr>
        <tr>
          <td>{{ mealDetails[0].strIngredient20 }}</td>
          <td>{{ mealDetails[0].strMeasure20 }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
